<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>National Coffee Museum</title>
    </head>
    <body>
        
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <img src="../static/img/place2.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        
             </div> 
            
              <h6 style="color: white; font-size: large;"> National Coffee Museum</h6>

                    <p style="color: white; font-size: large;">
                      is currently set up in Kafa, the birthplace of coffee. This museum will be used as a centre for research on Coffea arabica and a guide for the visitors through the world of coffee   production. Along with the museum, a ranger station and information centre is being built on the compound.Unique Blends: Kaffa Coffee develops “taylor made” blends, studying the green coffee market, roasting, and encapsulating unique flavors for various brands        
                        Ethiopia's first coffee museum sits in the heart of coffee country, and is part of the Kafa Biosphere Reserve. It provides an overview of the history of coffee with a focus on Ethiopian production, as well as some archaeological finds from the area. It's a terrific place to access Ethiopia's coffee industry..</p>
                    </div>
            
            
<section class="subscribe section">
        <div class="subscribe__bg">
            <div class="container">
              <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d274.1427085712308!2d36.2485654!3d7.2626155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17aebd99b85c0e3d%3A0x2593fea22b5459eb!2sNATIONAL%20MUSEUM%20OF%20COFFEE%2C%20BONGA!5e1!3m2!1sen!2s!4v1234567890"
  width="600"
  height="450"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
  
            </div>
        </div>
    </section>
            
        </main>
         <!--=============== SCROLL REVEAL===============-->
    <script src="../static/js/scrollreveal.min.js"></script>
    
    <!--=============== SWIPER JS ===============-->
    <script src="../static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
    </body>
    </html>