<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../static/css/styles.css">

        <title> Yirgacheffe </title>
    </head>
    <body>
        
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <img src="../static/img/place4.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
      </div>        
                     <h6 style="color: white; font-size: large;">  Yirgacheffe </h6>
                     <h5 style="color: white; front-size: large;>" Yirgacheffe is part of the Sidamo region, but it’s sub-divided into its own trademarked micro-region due to its exceptional coffees </5>   
                    <p style="color: white; font-size: large;"> Yirgacheffe coffee refers to high-quality Arabica coffee beans grown in the Yirgacheffe region of southern Ethiopia. This region is known for producing some of the world’s best coffee, with a reputation for being spicy, fragrant, and sweet. Yirgacheffe coffee is particularly renowned for its:
                     <strong>Fruit-forward flavor:</strong>   Yirgacheffe coffee is known for its bright acidity and flavors of citrus, floral, and fruit notes, such as orange, lemon, and bergamot. High-quality certifications: Many Yirgacheffe coffees are available as Fair Trade Organic certified, ensuring sustainable and responsible farming practices.Terroir: The region’s tropical climate, tropical forests, and unique soil composition all contribute to the coffee’s flavor profile</p>   
                     
                      </div>  
                       </div>  
                        </div>  
         


            
<section class="subscribe section">
        <div class="subscribe__bg">
            <div class="container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d601.0726821295107!2d38.199501579749764!3d6.171933513443718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17b09d4552fae06d%3A0x313c4787e971520!2sMulugeta%20Tsige%20coffee%20processing%20station!5e1!3m2!1sen!2set!4v1731509369145!5m2!1sen!2set" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
            </div>
        </div>
    </section>
            
        </main>
         <!--=============== SCROLL REVEAL===============-->
    <script src="../static/js/scrollreveal.min.js"></script>
    
    <!--=============== SWIPER JS ===============-->
    <script src="../static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
    </body>
    </html>