<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>Sidamo coffe</title>
    </head>
    <body>
        
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
               
 <img src="../static/img/place1.jpg" alt="" class="home__img">/ div//

  

                <div class="home__container container grid">
                    <div class="home__data">
                  
                        <h5 style="color: white; font-size: large;"> sidamo Coffee</h5>
                    </div>
                    <p style="color: white; font-size: large;">
   Sidamo coffees are known for their rich body that is very complex along with a bright and vibrant aftertaste that are fairly consistent from year to year, making this a staple Ethiopian coffee for any coffee roaster. 

Coffee is an important part of Ethiopian culture and is celebrated daily in the traditional Ethiopian Coffee Ceremony. If you want to learn more about the origins of coffee in Ethiopia you can read the whole fascinating story in the World’s Best History of Coffee.

Since coffee was first discovered Ethiopia has provided some of the world’s best premium coffee, pungent and complex with a delicious winey taste and a wildness in the acidity.

Among the most revered of Ethiopian coffees is the spicy and fragrant Yirgacheffes which shimmer with citrus tones and offer a very delicate body combined with a wonderful sweetness in the taste and floral notes in the aroma.

Ethiopian Harrar coffees – respected for their heavy body and spicy fragrance – are also among the wold’s finest specialty coffees and include the Longberry (comprised of the largest coffee beans), Shortberry (including smaller coffee beans), and Mocha (Moka; Mocca), .</p>
                    </div>
            
            
<section class="subscribe section">
    <div class="subscribe__bg">
    </div class="container">
        </div>
        </div>
             <div class="container">
    <iframe
        width="100%"
        height="400"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d300.34151316029676!2d38.85444965377883!3d6.506382783654397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17b7250013b83a21%3A0x4601540a242f43bb!2sArdent%20Coffee%20-%20Dembi%20Site%20%231!5e1!3m2!1sen!2set!4v1731502549798!5m2!1sen!2set" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

   
</div>
    </section>
            
        </main>
         <!--=============== SCROLL REVEAL===============-->
    <script src="../static/js/scrollreveal.min.js"></script>
    
    <!--=============== SWIPER JS ===============-->
    <script src="../static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
    </body>
    </html>